<!DOCTYPE html>
<html>
<head>
    {% block pageMeta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block pageTitle %}
        <title>A simple todo app in Symfony 2.8 by Joseph Cumines</title>
    {% endblock %}
    {{ include('libs/bootstrapcss.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/todoEditor.css') }}">
</head>
<body>
<div id="content" class="container">
    {% block contentTitle %}
        <div id="contentTitle" class="text-nowrap hit-the-floor">
            <h1>Todo for {{ app.user.username }}</h1>
        </div>
    {% endblock %}
    {% block contentWidget %}
        <div id="contentWidget">

        </div>
    {% endblock %}
    <br>
    <h6 class="text-xs-center">Double-click to edit a todo, click the todo button to toggle.</h6>
    <a href="{{ path('fos_user_security_logout') }}"><p class="text-xs-center">Click Here to Logout</p></a>
    <p class="text-xs-center">This application was created by <a href="http://joeycumines.me">Joseph Cumines</a></p>
    <script src="{{ asset('js/jcumines.js') }}"></script>
    {{ include('libs/boostrapjs.html.twig') }}
    {{ include('libs/react.html.twig') }}
    <script type="text/babel" src="{{ asset('js/todo.js') }}"></script>
</div>
</body>
</html>